@import url('https://fonts.googleapis.com/css2?family=Mina&family=Poppins&family=Righteous&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
   font-family: 'Roboto',sans-serif;
}
.gradientButton{
   @apply rounded-lg outline outline-offset-[-2px] outline-2 cursor-pointer font-semibold
}
.gradientButton:hover{
   @apply outline-none delay-[10ms] bg-gradient-to-tr from-dark to-pri text-light font-semibold;
}
.gradientButton:focus{
   @apply outline-dark outline-offset-1 bg-gradient-to-tr from-dark to-pri text-light font-semibold;
}
.gradientButton:disabled{
   @apply outline-none bg-none disabled:bg-slate-400 disabled:cursor-not-allowed text-white
}

/* .gradient-b{
   background-image: linear-gradient(white, white), radial-gradient(circle at bottom left, #FFE4F1 -9.85%, #CE3DAE 35.68%, #543242 106.7%);
   background-origin: border-box;
   background-clip: content-box, border-box;
}
.gradient-b:hover{
   transition-delay: 75ms;
   @apply bg-gradient-to-tr from-light to-dark via-pri
} */